
html {
  scroll-behavior: smooth ;
}
*,*::after,*::before{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px ;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary_lightColor);
  border-radius: 20px
}



:root {
  --card-height: 300px;
  --card-width : calc(var(--card-height) / 1.5);
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: SpaceBoards;
  src        : url(./Assets/Fonts/Spaceboardsdemo-8MyRB.otf);
}

@font-face {
  font-family: FutureWave;
  src        : url(./Assets/Fonts/Futurewave.otf);
}

@font-face {
  font-family: NeoFuture;
  src        : url(./Assets/Fonts/neonfuture20demo-l3jp3.otf);
}

@font-face {
  font-family: VoyagerHeavy;
  src        : url(./Assets/Fonts/Voyager\ Heavy.otf);
}


@font-face {
  font-family: VoyagerLight;
  src        : url(./Assets/Fonts/Voyager\ Light.otf);
}

@font-face {
  font-family: Outfit;
  src        : url(./Assets/Fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: Glitch;
  src        : url(./Assets/Fonts/Hacked-KerX.ttf);
}
body {
  width     : 100vw;
  height    : 100vh;
  overflow-x: hidden;
}